extends layout

block content
  if playlistNames
    h2 Here are your playlists:
    each name in playlistNames
      p= name
  else
    p You're not logged in just yet. 
      a(href='/auth') Click here
      span  to authorize your account.
