doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Followbud
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link#bulma(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/grid-gallery.css')
		include mixins/_playlistCard
	body
		.container.section
			nav#top.nav.section
				.container
					.nav-left
						a.nav-item(href='../index.html')
							//-img(src='/images/logo.png', alt='logo')
					span.nav-toggle
						span
						span
						span
					.nav-right.nav-menu
						a.nav-item.is-tab.is-active
							| Home
						a.nav-item.is-tab
							| Features
						a.nav-item.is-tab
							| Team
						a.nav-item.is-tab
							| Help
						span.nav-item
							a.button
								| Log in
							a.button.is-info
								| Sign up
			.columns.section
				.column.is-8
					.title Gallery
				.column.is-4.has-text-right
					a.button.is-active
						i.fa.fa-th.title.is-5
					a.button
						i.fa.fa-align-justify.title.is-5
			if playlists
				.columns.is-multiline
					each playlist in playlists
						+playlistCard(playlist)
			else
				.level
					.level-item.has-text-centered
						p You're not logged in just yet. Lets take care of that.
				.level
					.level-item.has-text-centered
						a(href='/auth').button Click here
						
		footer.footer
			.container
				.content.has-text-centered
					p
						strong Followbud
						|  made with love by 
						a(href='https://github.com/vpicone') Vince Picone
						| . The source code is licensed 
						a(href='http://opensource.org/licenses/mit-license.php') MIT
						| . The website content
						|           is licensed 
						a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/') CC ANS 4.0
						| .
					p
						a.icon(href='https://github.com/vpicone')
							i.fa.fa-github
		script(type='text/javascript', src='/javascripts/bulma.js')
