doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    .row
      .large-6.large-offset-1.column
        h1 Welcome to Followfy
  block content
