extends layout
include mixins/_playlistCard
block content
	if playlists
		.columns
			each playlist in playlists
				+playlistCard(playlist, currentUser)
		.level
			.level-left
			-prevPage = parseInt(page)-1
			-nextPage = parseInt(page)+1
			if page == 0
					.level-item
						a(disabled='').button.is-large Previous  
					.level-item
						a(href= "/" + currentUser + "/playlists" + "/page/" + nextPage).button.is-large Next
			else if page == pages-1
				.level-item
					a(href= "/" + currentUser + "/playlists" + "/page/" + prevPage).button.is-large Previous
				.level-item
					a(disabled="").button.is-large Next
			else
				.level-item
					a(href= "/" + currentUser + "/playlists" + "/page/" + prevPage).button.is-large Previous
				.level-item
					a(href= "/" + currentUser + "/playlists" + "/page/" + nextPage).button.is-large Next
					
	else
		.level
			.level-left
			.level-item.has-text-centered
				.content.is-medium
					p Followbud lets you easily follow the artists from your favorite Spotify playlists.
					p You're not logged in just yet. Lets take care of that.
		.level
			.level-left
			.level-item
				a(href='/auth' id='login').button.is-large Log In
