extends layout
include mixins/_playlistCard
block content
	if playlists
		link(rel='stylesheet', href='/stylesheets/grid-gallery.css')
		.level
			.level-item
				.content.is-large.has-text-centered Click the button beneath each playlist card to follow all the artists therein.
		.level
			.level-item
		.columns.is-multiline
			each playlist in playlists
				.column.is-one-third
					+playlistCard(playlist, currentUser, page)
		//- 	.column.is-one-third
		//- 		+playlistCard(playlists[0], currentUser, page)
		//- 	.column.is-one-third
		//- 		+playlistCard(playlists[1], currentUser, page)
		//- 	.column.is-one-third
		//- 		+playlistCard(playlists[2], currentUser, page)
		//- .columns
		//- 	.column.is-one-third
		//- 		+playlistCard(playlists[3], currentUser, page)
		//- 	.column.is-one-third
		//- 		+playlistCard(playlists[4], currentUser, page)
		//- 	.column.is-one-third
		//- 		+playlistCard(playlists[5], currentUser, page)
			//- each playlist in playlists
			//- 	+playlistCard(playlist, currentUser, page)
		.level
			.level-left
			-prevPage = parseInt(page)-1
			-nextPage = parseInt(page)+1
			if page == 0
					.level-item
						a(disabled='' style="pointer-events: none").button.is-large Previous  
					.level-item
						a(href= "/" + currentUser + "/playlists" + "/page/" + nextPage).button.is-large Next
			else if page == pages-1
				.level-item
					a(href= "/" + currentUser + "/playlists" + "/page/" + prevPage).button.is-large Previous
				.level-item
					a(disabled="" style="pointer-events: none").button.is-large Next
			else
				.level-item
					a(href= "/" + currentUser + "/playlists" + "/page/" + prevPage).button.is-large Previous
				.level-item
					a(href= "/" + currentUser + "/playlists" + "/page/" + nextPage).button.is-large Next
	else
		.level
			.level-left
			.level-item.has-text-centered
				.content.is-medium
					p Followbud lets you easily follow the artists from your favorite Spotify playlists.
					p You're not logged in just yet. Let's take care of that.
		.level
			.level-left
			.level-item
				a(href='/auth' id='login').button.is-large Log In
