extends layout
include mixins/_playlistCard
block content
	if playlists
		.columns.is-multiline
			each playlist in playlists
				+playlistCard(playlist, currentUser)
	else
		.level
			.level-item.has-text-centered
				.content.is-medium
					p Followfy lets you easily follow the artists from your favorite Spotify playlists.
					p You're not logged in just yet. Lets take care of that.
		.level
			.level-item.has-text-centered
				a(href='/auth').button.is-large Click Here
