extends layout
include mixins/_playlistCard
include mixins/_artistCard
block content
	if playlists
		.columns.is-multiline
			each playlist in playlists
				+playlistCard(playlist, currentUser)
	else
		.level
			.level-item.has-text-centered
				p You're not logged in just yet. Lets take care of that.
		.level
			.level-item.has-text-centered
				a(href='/auth').button Click here
