extends layout
block content
	.columns
		.column.is-2.is-offset-2
			.content.is-large.has-text-centered
				a(href='www.expressjs.com') Express 4.15.0
		.column.is-2
			.content.is-large.has-text-centered
				a(href='https://nodejs.org/') Node v7.10.0  
		.column.is-2
			.content.is-large.has-text-centered
				a(href='https://github.com/thelinmichael/spotify-web-api-node') Spotify Web API Node v2.4.0  
		.column.is-2
			.content.is-large.has-text-centered
				a(href='http://bulma.io/') Bulma v0.3.2  
