mixin artistCard(item = {})
	.column.is-half.is-offset-one-quarter
		.level
			.level-left
				.level-item
					span=item.name
			.level-right
				.level-item
					a(href="").button Follow
						
		
		
