mixin artistCard(item = {})
	.column.is-10.is-offset-1
		.level
			.level-left
				each artist in item.track.artists
					.level-item
						span= `${artist.name},`
				.level-item
					i.fa.fa-arrow-right
				.level-item
					span= item.track.name
			.level-right
				.level-item
					if item.track.following
						a(href="").button.is-medium Followed
					else
						a(href="").button.is-primary.is-medium Follow
						
		
		
