mixin artistCard(item = {})
	.column.is-12
		.level
			.level-left
				.level-item
					.content.is-large
						span= `Artists: `
				each artist, index in item.track.artists
					.level-item
						.content.is-large
							if (index == item.track.artists.length-1)
								span= artist.id
							else
								span= `${artist.id}, `
				.level-item
					.content.is-medium
						p= `→ Track: \"${item.track.name}\"`
			.level-right
				.level-item
					if item.track.following
						a(href="").button.is-medium Followed
					else
						a(href="").button.is-primary.is-medium Follow
